<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>🌭 sanic comics</title>
  <link rel="stylesheet" href="./default.css" />
  <script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-99239283-1', 'auto');
	  ga('send', 'pageview');

	</script>
</head>
<body>
<a href="/"><i class='skp'></i></a>
<div id='about' style="margin-top:40px">
  hello<br><br>
	this is a little wip test site for my sanic comics<br>
	<a href="https://xhg.itch.io/">my itch page</a> has games I made with people<br>
	visit the <a href="https://github.com/dannytaylor/sitegen_comic"> site's repo </a>for more info<br>
  main page has more links<br>
  rss not working<br>

  <br>
  some other stuff on this site:<br>
  <a href="/lb/splahlunking">splahlunking leaderboard</a><br>
  <a href="/lb/growborally">growborally leaderboard</a><br>
  <a href="/birthday">birthday page</a><br>

  <br>
  visit my friend<a href="https://devtek.info/"> devin</a><br>
</div>
</body>
</html>
