<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>🌭 sanic comics</title>
  <link rel="stylesheet" href="./default.css" />
  <script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-99239283-1', 'auto');
	  ga('send', 'pageview');

	</script>
</head>
<body>
<div id='about'>
	<br>
	hello,<br><br>
	this is a little test site for my sanic comics<br>
	kinda started as a one-off joke turned into whatever this is<br>
	site is a wip, rss feed not working, etc.<br>
	<a href="http://imgur.com/a/BXxiK?grid">this album</a> has some extra sanics<br>
	visit the <a href="https://github.com/dannytaylor/sitegen_comic"> site's repo </a>for more info

<br><br><a href="$root" style="text-align: center;">
	<img src="img/dog.png" style="display:inline-block;text-align: center;">
	</a>
</div>

</body>
</html>