<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>🌭 $num</title>
  <link rel="stylesheet" href="$root/default.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-99239283-1', 'auto');
	  ga('send', 'pageview');

	</script>
</head>
<body>
<div id="content">

	<div class='ad'>
		<!-- <img src="$root/img/title.png"> -->
		<i class="fa fa-bolt" aria-hidden="true"></i> FEATURED CONTENT <i class="fa fa-bolt" aria-hidden="true"></i><br>
		<a href='https://devtek.info/climbeleon.html'>
		play climbeleon today!
		</a>
	</div>

	<a href="about"><i class='skp'></i></a>

	<div id='main' style='height:$fheight'>
		<div class='left' $leftVis>
			<a href="$root/$leftLink" ><i class="nav1 nav1a" ></i></a>
			<a href="$root/1"><i class="social social-fwd"></i></a>
	  	</div>
		 <div class='middle'>
		   	<img src="$root/img/comics/$comicName" alt="sanic" />
		  </div>
		  <div class='right' $rightVis>

				<a href="$root/$rightLink"><i class="nav1 nav1a flipHorizontal" ></i></a>
				<a href="$root/$lastNum"><i class="social social-fwd flipHorizontal"></i></a>
		  </div>
	</div>
	<footer>
		<!-- <a href="$root/1">first</a> · <a href="$root/$lastNum">last</a><br> -->
		<a href="http://twitter.com/xhiggy"><i class="social social-tw"></i></a>
		<a href="https://youtube.com/xhiggyd"><i class="social social-yt"></i></a>
		<a href="https://github.com/dannytaylor/sitegen_comic"><i class="social social-gh"></i></a>
		<a href="$root/feed.xml"><i class="social social-rss"></i></a>

	</footer>
</div>

</body>


</html>
