<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>sanic comics</title>
  <link rel="stylesheet" href="$root/default.css" />
</head>
<body>

</div>
	<div id='content'>
		<div class='left'>
			<a href="$root/$leftLink">
			<i class="nav1 nav1a"></i>
			</a>
	  </div>
	  <div class='middle'>
	    <img src="$root/img/comics/$comicName" alt="sanic" />
	    $body
	  </div>
	  <div class='right'>
			<a href="$root/$rightLink">
			<i class="nav1 nav1a flipHorizontal"></i>
			</a>
	  </div>
	</div>

</body>

<footer>
	<div class='dog'>
		<img src="$root/img/dog.png" alt="info" />
	</div>
	<div class='links'>
		<br><a href="http://twitter.com/xhiggy">@xhiggy</a>
		<br> 💀 <br>
		<a href="">source on github</a>  -  
		<a href="http://leafo.net/sitegen/">built with sitegen</a>  -  
		<a href="http://surge.sh">deployed with surge</a>
	</div>
</footer>
</html>