<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>🌭 #$num</title>
  <link rel="stylesheet" href="$root/default.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div id="content">

	<div class='ad'>
		<i class="fa fa-bolt" aria-hidden="true"></i> SPONSORED CONTENT <i class="fa fa-bolt" aria-hidden="true"></i><br>
		<a href='https://devtek.info/climbeleon.html'>
		Play Climbeleon today!
		</a>
	</div>

	<a href="#"><i class='skp'></i></a>

	<div id='main'>
		<div class='left' $leftVis>
			<a href="$root/$leftLink" >
			<i class="nav1 nav1a"></i>
			</a>
	  	</div>
		 <div class='middle'>
		   	<img src="$root/img/comics/$comicName" alt="sanic" />
		  </div>
		  <div class='right' $rightVis>
				<a href="$root/$rightLink">
				<i class="nav1 nav1a flipHorizontal"></i>
				</a>
		  </div>
	</div>
	<footer>
		<div class='dog'>
			<div class='links'>
				<br><a href="$root/1">first</a> · <a href="$root/$lastNum">last</a>
				<br><a href="http://leafo.net/sitegen/">built with sitegen</a> 
				<br><a href="http://surge.sh">deployed with surge</a>
				<br>
				<a href="http://twitter.com/xhiggy"> <i class="fa fa-twitter"></i></a>
				 · <a href="https://github.com/dannytaylor/sitegen_comic"><i class="fa fa-github-alt"></i></a> 
			</div>
		</div>
	</footer>
</div>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-99239283-1', 'auto');
  ga('send', 'pageview');

</script>
</body>


</html>